@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
  @import '~@pentacle/pentacleui/assets/styles/pentacle-light.scss';
}
@media (prefers-color-scheme: dark) {
  @import '~@pentacle/pentacleui/assets/styles/pentacle-dark.scss';
}
[data-theme='light'] {
  @import '~@pentacle/pentacleui/assets/styles/pentacle-light.scss';
}
[data-theme='dark'] {
  @import '~@pentacle/pentacleui/assets/styles/pentacle-dark.scss';
}

h1.boxed {
  padding-bottom: 0;
}

.placeholder {
  height: 20rem;
  width: 50rem;
  background-color: #61dafb;
}

.padding-bottom-3 {
  padding-bottom: 3rem;
}

.inline-block {
  display: inline-block;
}

.text-link.underline {
  text-decoration: underline;
}

.margin-right-1 {
  margin-right: 1rem;
}

.margin-top-3 {
  margin-top: 3rem !important;
}

.length-250 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.length-300 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.padding-right-2 {
  padding-right: 2rem;
}

.margin-bottom-2 {
  margin-bottom: 2rem;
}

.padding-y-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.flex-mobile {
  display: flex;
  row-gap: 0;
  column-gap: 0.5rem;
}

.overflow-x-scroll {
  overflow-x: auto;
  -ms-overflow-x: auto;
}

.header-content,
.footer-content,
.main-content,
.nav-content {
  box-sizing: border-box;
}

nav {
  overflow-y: unset !important;
}

p {
  font-size: 0.8175rem;
  line-height: 1.25rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.85rem;
}
