h1,
h2,
h3,
h4 {
  color: _color(heading-1);
  margin: 0;
  padding: 0;
  font-weight: unset;
  &.primary {
    color: _color(primary);
  }
  &.secondary {
    color: _color(secondary);
  }
  &.tertiary {
    color: _color(tertiary);
  }
}

h1 {
  font-family: _font(ramillas-medium);
  color: _color(body-text-inv);
  font-size: 2rem;
  padding: 0;
  letter-spacing: -0.05rem;
  &.boxed {
    padding: 0.5rem 0 0.25rem 0;
    margin: 0;
  }
}

h2 {
  font-family: _font(family-bold);
  font-size: 1.5rem;
  padding: 1rem 0 1rem 0;
  line-height: 1.75rem;
  &.boxed {
    padding: 0.5rem 0 0.25rem 0;
    margin: 0;
  }
  &.small {
    font-size: .9rem;
    line-height: 1rem;
    &.boxed {
      padding: 0;
    }
  }
}

h3 {
  font-family: _font(ramillas-medium);
  line-height: 1.5rem;
  text-transform: lowercase;
  &::first-letter {text-transform: uppercase};
  font-size: 1.15rem;
  padding: 1.5rem 0 .75rem 0;
  &.boxed {
    padding: 0rem 0 .75rem 0;
    margin: 0;
  }
  &.no-transform {
    text-transform: unset;
    &::first-letter {text-transform: unset};
  }
  &.lowercase {
    &::first-letter {text-transform: lowercase};
  }
}

h4 {
  font-family: _font(family-body);
  font-size: 0.75rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.25);
  width: calc(100% - 1rem);
  margin-bottom: 1rem;
}

table,
p,
em,
div,
input {
  font-family: _font(family-body);
  font-size: _font(size-default);
  margin: 0;
  padding: 0;
}

p {
  color: _color(body-text);
  line-height: 1.4rem;
  &.inv {
    color: _color(body-text-inv);
  }
}

p + p {
  margin-top: 0.5rem;
}

.bold {
  font-family: _font(family-regular);
}
.semibold {
  font-family: _font(family-regular);
}
.regular {
  font-family: _font(family-regular);
}
.medium {
  font-family: _font(family-regular);
}
.light {
  font-family: _font(family-regular);
}

.text-highlight {
  color: _color(tertiary);
}

.text-white {
  color: _color(white);
}

.body-text {
  color: _color(body-text);
}

.body-text-inv {
  color: _color(body-text-inv) !important;
}

@media screen and (max-width: _breakpoint(step-one)) {
  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1.15rem;
    line-height: 1.35rem;
  }
}
