footer {
  position: fixed;
  bottom: 0;
  background-color: _color(bg-footer);
  font-size: 0.75rem;
  width: 100%;

  .footer-content {
    padding: 0.5rem 2rem;
    color: _color(body-text);

    a {
      font-size: 0.65rem;
      margin-left: 1rem;
      color: _color(link-footer);
    }
  }
}
