main {
  padding-bottom: 5rem;
}

.main-header {
  background-color: _color(body-bg);
  padding: 1rem 0;
}

.circle-sm {
  radius: 1rem;
}

.sunburst {
  svg g g text,
  g,
  svg {
    color: _color(body-text);
  }

  svg g g text a {
    color: _color(body-text);
  }
}