main {
  padding-top: 0;
  padding-bottom: 5rem;
}

.circle-sm {
  radius: 1rem;
}

svg g g text,
g,
svg {
  color: _color(body-text);
}

svg g g text a {
  color: _color(body-text);
}

.main-container {
  //margin: 0 auto;
  //max-width: 80rem;
  padding-top: 2rem;
  height: calc(80vh - 4rem);
}

.main-content {
  margin: 0 auto;
  max-width: 80rem;
}

.main-content-wide {
  background-color: _color(tertiary);
  height: 100%;
}

@media screen and (max-width: _breakpoint(step-two)) {
  .main-container {
    padding-top: 1rem;
    height: calc(80vh - 4rem);
    .main-content:last-child {
      padding-bottom: 5rem;
    }
  }
}