//@tailwind base;

@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
  @import "assets/styles/pentacle-light";
  #pentacle {
    //background-image: url(/assets/images/pentaBgLight.jpg);
  }
}
@media (prefers-color-scheme: dark) {
  @import "assets/styles/pentacle-dark";
  #pentacle {
    //background-image: url(/assets/images/pentaBgDark.jpg);
  }
}
[data-theme="light"] {
  @import "assets/styles/pentacle-light";
  #pentacle {
    //background-image: url(/assets/images/pentaBgLight.jpg);
  }
}
[data-theme="dark"] {
  @import "assets/styles/pentacle-dark";
  #pentacle {
    //background-image: url(/assets/images/pentaBgDark.jpg);
  }
}

[data-theme=light] input[type=checkbox],
[data-theme=dark] input[type=checkbox] {
  -webkit-appearance: none;
}



.p-purple {
  color: rgb(59, 39, 120);
}
.p-green {
  color: rgb(50, 220, 169);
}
.p-pink {
  color: rgb(245, 176, 218);
}

h1.boxed, h3.boxed {
  padding: 0 !important;
}

.placeholder {
  height: 20rem;
  width: 50rem;
  background-color: #61dafb;
}

.inline-block {
  display: inline-block;
}

.text-link.underline {
  text-decoration: underline;
}

.margin-right-1 {
  margin-right: 1rem;
}

.margin-top-3 {
  margin-top: 3rem !important;
}

.length-250 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.length-300 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.padding-right-2 {
  padding-right: 2rem;
}

.margin-bottom-2 {
  margin-bottom: 2rem;
}

.padding-y-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.flex-mobile {
  display: flex;
  row-gap: 0;
  column-gap: 0.5rem;
}

.overflow-x-scroll {
  overflow-x: auto;
  -ms-overflow-x: auto;
}

.header-content,
.footer-content,
.main-content,
.nav-content {
  box-sizing: border-box;
}

nav {
  overflow-y: unset !important;
}

.padding-left-0-5 {
  padding-left: .5rem;
}