//@tailwind base;
//@tailwind components;
//@tailwind utilities;

@import "assets/styles/pentacle-light";

//@media (prefers-color-scheme: light) {
//  @import "assets/styles/pentacle-light";
//}
//@media (prefers-color-scheme: dark) {
//  @import "assets/styles/pentacle-dark";
//}
//[data-theme="light"] {
//  @import "assets/styles/pentacle-light";
//}
//[data-theme="dark"] {
//  @import "assets/styles/pentacle-dark";
//}

[data-theme=light] input[type=checkbox],
[data-theme=dark] input[type=checkbox] {
  -webkit-appearance: none;
}

.p-purple {
  color: rgb(59, 39, 120);
}
.p-green {
  color: rgb(50, 220, 169);
}
.p-pink {
  color: rgb(245, 176, 218);
}

.placeholder {
  height: 20rem;
  width: 50rem;
  background-color: #61dafb;
}

.inline-block {
  display: inline-block;
}

.line-clamp-5 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.length-300 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.flex-mobile {
  display: flex;
  row-gap: 0;
  column-gap: 0.5rem;
}

.header-content,
.footer-content,
.main-content,
.nav-content {
  box-sizing: border-box;
}



.beginner {
  background-color: #FAEADE;
}
.intermediate {
  background-color: #EDE4DF;
}
.advanced {
  background-color: #EDF3DF;
}

.vertical-align-center {
  vertical-align: middle !important;
}