@import "../patterns/border";

a:not(.text-link) {
  text-decoration: none;
  //@include border-bottom-dotted-1;
  cursor: pointer;
  color: _color(body-text);
  &:hover, &.active {
    //@include border-bottom-1;
  }
}

.text-link.underline {
  text-decoration: underline;
}

a.text-link {
  text-decoration: none;
  @include border-bottom-1;
  &:hover {
    @include border-bottom-1;
    h1,
    h2,
    h3 {
      color: rgb(253, 198, 225);
      text-decoration-color: rgb(253, 198, 225);
      transition: 1.5s;
    }
  }
}

span {
  a.text-link {
    color: rgb(253, 198, 225);
    @include border-bottom-1;
    &:hover {
      color: rgb(253, 198, 225);
      @include border-bottom-1;
      text-decoration-color: rgb(253, 198, 225);
      transition: 1.5s;
    }
  }
}
