::-webkit-scrollbar {
  width: .75rem;
}

::-webkit-scrollbar-track {
  background: _color(tertiary-30);
  border-radius: 1.5rem;
}

::-webkit-scrollbar-thumb {
  background: _color(tertiary);
  border-radius: 1.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: _color(tertiary);
  border-radius: 1.5rem;
}

::-webkit-scrollbar-corner {
  background: _color(tertiary);
}