header {
  box-sizing: border-box;
  width: 100%;
  padding: .75rem 0 0 0;
  color: _color(white-50);

  .header-content {

    > div {
      text-align: center;
    }
  }

  a {
    font-size: .875rem;
    font-weight: 500;
    text-decoration: none;
  }

  .logo {
    max-width: 15rem;
  }

  .icon {
    max-width: 5rem;
  }
}

@media only screen and (min-width: _breakpoint(step-one)) {

  header {
    padding: 2rem 0 0rem 0;

    .header-content {
      > div:nth-of-type(1) {
        text-align: left;
      }

      > div:nth-of-type(2) {
        text-align: right;
      }
    }
  }
}

@media only screen and (max-width: _breakpoint(step-two)) {

  header {
    padding: 2rem 0 0rem 0;

    .header-content {
      &.flex-small {
        > div:nth-of-type(1) {
          text-align: center;
        }

        > div:nth-of-type(2) {
          text-align: center;
        }
      }
    }
  }
}
